.result-box{
    display: flex;
    flex-direction: column;
    border: 1px dotted #cccccc;
    border-radius: 10px;
    margin: 1rem;
    font-family: Roboto,sans-serif;
}
.result-column{
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.solved-icon{
    color:green!important;
}
.unsolved-icon{
    color: red!important;
}

.message-box{
    display: flex;
    flex-direction: row;
    border: 2px solid #211648;
    border-radius: 10px;
    min-height: 4rem;
    margin: 20px;
}
.message-column{
    text-align: center;
    margin-top: 15px;
}
.message-notification{
    text-align: center;

}
.error-message{
    text-align: center;
    color: red;
}

.admin-container{
    width: 60vw;
    margin: auto;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    padding: 0.5rem;
}
.admin-button{
    border: none;
    background-color: lavender;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: auto;
}
p{
    margin: 0!important;
    margin-right: 0.5rem !important;
}
.result-column-name{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
}
.result-column-content{
    text-align: center;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}
.result-user-p{
    font-size: small;
}
.message-content-admin{
    padding: 0.5rem;
    min-height: 8rem;
    width: 25vw;
    min-width: min-content;
    border: 2px solid #211648;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    max-width: 25vw;
    max-height: 15vw;
    word-break: break-all;
    display: flex;
}
@media only screen and (max-width: 600px) {
    .admin-container {
        width: 90vw;
    }


}