.result-box{
    display: flex;
    flex-direction: column;
    border: 1px dotted #cccccc;
    border-radius: 10px;
    margin: 1rem;
    font-family: Roboto,sans-serif;
}
.result-column{
    text-align: center;
    margin: 0.5rem;
}
.solved-icon{
    color:green!important;
}
.unsolved-icon{
    color: red!important;
}

.message-box{
    display: flex;
    flex-direction: row;
    border: 2px solid #211648;
    border-radius: 10px;
    min-height: 4rem;
    margin: 20px;
}
.message-column{
    text-align: center;
    margin-top: 15px;
}
.message-notification{
    text-align: center;

}
.error-message{
    text-align: center;
    color: red;
}

.admin-container{
    width: 60vw;
    margin: auto;
    box-shadow: 5px 10px 18px #888888;
    height: 70vw;
    border-radius: 10px;
    padding: 0.5rem;
}
.admin-button{
    border: none;
    background-color: lavender;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: auto;
}