.profil-info-image {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);

}
profil-info-image:hover{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.profile-info-container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 5px 10px 18px #888888;

}

.profile-info-text {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
}

.profile-info-description {
    line-height: 20px;
    display: flex;
    flex-direction: row;
}

.profile-info-title {
    font-family: Roboto, 'sans-serif';
}

.profile-text-wrap {
    width: 70%;
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.profile-image-wrap {

}

.input-content{
    background-color: white;
    border: none;
    color: black;
    padding-left: 0.5rem;
}

.input-content-div{
    display: flex;
    flex-direction: row;
    font-family: bold;
}

.input-content-text{
    padding-left: 0.5rem;
    min-height: 8rem;
    width: 25vw;
    min-width: 15rem;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    max-width: 25vw;
    max-height: 15vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
}

.button-profile{
    background-color: rgba(126, 200, 250,1);
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    width: 150px;
    font-size: large;
    text-align: left;
    color: white;
    border-radius: 50px 0px 0px 50px;
    border: none;
    transition: 1s;
    transition-property: transform;
    transform: translate(15px, 0);
    padding: 0.5rem;
}
.button-profile:hover{
    transform: translate(2px, 0);
}
.buttons-profile{

    position: absolute;
    top: 30%;
    right: 0%;
}
.buttons-profile-img{
    height: 20px;
    width: 20px;
    margin-left: 0.5rem;
}
label{
    font-weight: bold;
}
