.my-path__cnt {
    height: 120px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.open-lock-picture {
    height: 1.5rem;
    width: 1.5rem;
}