.main-footer {
    color: white;
    background-color: #211648;
    position: relative;
    bottom: 0;
    width: 100%;
}
.row{
    display: flex;
 }
.col{
    width: 25%;
}
.col-sm{
    margin-left: 20px;
    margin: 10px;
}
.list-elements{
    list-style: none;
    text-align: center;
    margin-right: 1rem;
}
.list-title{
    text-align: center;
}
.title-footer{
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-left: 2rem;
    margin-top: 2em;
    align-items: center;
    align-content: center;
}
.title{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    padding-left: 1.5rem;
    font-size: 2rem;
    cursor: default;
}