.user-request-photo{
    display:inline;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.users-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    border: 2px dotted #cccccc;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 0.5rem;
}

.user-request{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.event-input{
    margin-left: auto;
    margin-right: auto;
    text-indent: 5px;
    height: 3rem;
    width: 20vw;
    min-width: 15rem;
    border: 2px solid #211648;
    box-shadow: none !important;
    outline: none !important;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}
.submitButtonaccept , .submitButtondecline{
    border-radius: 10px;
    width: 7rem;
    height: 3.5rem;
    font-size: 18px;
    color: white;
    margin-bottom: 3rem;
    outline: none !important;
    border: 2px solid white;
    margin-top: 3rem;
}
.submitButtonaccept{
    background-color: #287334;
}
.submitButtondecline{
    background-color: darkred;
}
.submitButtondecline:hover{
    color: darkred;
    background-color: white;
    border-color: darkred;
}
.submitButtonaccept:hover{
    color: #287334;
    background-color: white;
    border-color: #287334;
}
.user-name{
    width: 50%;
    max-width: 50%;
    word-break: break-all;
    text-align: center;
    font-weight:bold ;
}

.request-empty {
    color: #406cba;
    font-size: x-large;
    text-align: center;
    margin: 0;
    margin-top: 3rem;
}
@media only screen and (max-width: 550px){
    .users-container{
        margin: 1rem;
        border: none;
    }
    .user-request-photo{
        height: 45px;
        width: 45px;
    }
    .user-name{
        font-size: small;
        width: 40%;
    }
    .submitButtonaccept , .submitButtondecline{
        font-size: smaller;
        height: 1.5rem;
        width: 5rem;
    }
    .user-request{
        width: 100vw;
        padding-right:1rem ;
    }
}
@media only screen and (min-width: 551px)and (max-width: 950px){
    .users-container{
        margin: 1rem;
        border: none;
    }
    .user-request{
        width: 75vw;
    }
}

.all-users-container{
    border-radius: 20px;
    margin: auto;
    width: 60vw;
    box-shadow: 5px 10px 18px #888888;
    height: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.request-heading {
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: xx-large;
    font-family: Roboto, sans-serif;

}

@media only screen and (max-width: 550px){
    .all-users-container{
        width: 100vw;
    }
    .request-heading{
        font-size: large;
    }
}
@media only screen and (min-width: 551px)and (max-width: 950px){
    .all-users-container{
        width: 80vw;
    }
    .request-heading{
        font-size: x-large;
    }
}