.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #272245;
    color: white;

}
.title{
    text-align: center;
    font-family: "Droid Sans Mono Dotted" ;
    color: white;
}
.header-logo{
    background-position: center;
    background-size: cover;
    border-image-width: auto;
    border-radius: 50%;
    width: 720px;
    height: 480px;

}

.image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    object-fit: cover;

}

.button-image {
    background-size: 100% 100%;
}

.link{
    text-decoration: none;
    color: white;
}

.profil{
    list-style-type: none;
}
.profil-part{
    text-align: center;
}

.loginAndRegisterButton {
    margin: auto 0.2rem;
    background-color: white;
    border-width: 0;
    height: 2rem;
    font-weight: 400;
}