* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

p {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

a:hover {
    cursor: pointer;
}

.profileImage {
    height: 20rem;
    width: 20rem;

}

.submitButton {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    font-size: 18px;
    background-color: #211648;
    color: white;
    margin-bottom: 3rem;
    outline: none !important;
    border: 2px solid white;
    margin-top: 10px;
}

.wrapper-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submitButton:hover {
    color: #211648;
    background-color: white;
    border: 2px solid #211648;
}

.login-input {
    margin: 0.3rem 0;
    font-size: 16px;
    border-radius: 10px;
    text-indent: 5px;
    height: 3rem;
    width: 23vw;
    min-width: 15rem;
    border: 2px solid #211648;
    box-shadow: none !important;
    outline: none !important;
}

.upload-picture{
    display: none;
}

.registration-input {
    margin: 0.3rem 0;
    font-size: 16px;
    border-radius: 10px;
    text-indent: 5px;
    height: 3rem;
    width: 25vw;
    min-width: 15rem;
    border: 2px solid #211648;
    box-shadow: none !important;
    outline: none !important;
}

.MuiSvgIcon-root {
    width: 3rem !important;
    height: 3rem !important;
}

.profileImage {
    width: 250px;
    height: 250px;
    border: #211648 2px solid;
    border-radius: 10px;
}

.picture-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    border: 3px solid #211648;
    border-radius: 10px;
    margin-right: 10px;
}

.errorText {
    color: red;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

.inputComponent {
    min-height: 6.5rem;
    margin-left: auto;
}

password-component {
    margin-bottom: 0px;
    padding-bottom: 0;
    max-height: 3rem;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-bottom: 6rem;
}

.text-area {
    width: 32rem;
    height: 12rem;
    border-radius: 10px;
}

.loginForm {
    text-align: center;
    width: 100%;
}

.inputForm {
    padding: 1rem 0 0rem 0;
    display: inline-block;
    text-align: left;
}

.textAlignLeft {
    display: inline-block;
    text-align: left;
}

.registrationForm {
    text-align: center;
}

.toRegistration {
    margin-bottom: 2rem;
    font-family: Roboto, sans-serif;
}

.toRegistrationAction {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #131E32;
}

.loginImage {
    opacity:0.3;
    max-height: 40vh;
    max-width: 30rem;
}
